<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI19_homework_afn_sdimg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49E049F81C3E6484009A0DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E04A111C3E6484009A0DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E04A1C1C3E6484009A0DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
