<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI_nike_bride.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4950B5471C25392B00D9FDA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4950B5601C25392B00D9FDA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4950B56B1C25392B00D9FDA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
