<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI08_homework2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4965D8B61C2970860098DC54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4965D8CF1C2970860098DC54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4965D8DA1C2970860098DC54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
