<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI08_model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49A1239E1C2A45DC009DD30D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A123B71C2A45DD009DD30D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A123C21C2A45DD009DD30D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
