<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI24_KVO_NSNotificationCenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49E85D3B1C4730BA00BA4FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E85D541C4730BB00BA4FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E85D5F1C4730BB00BA4FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
