<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI04_UIEvent_UITouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49D3838F1C224D7F00071E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49D383A81C224D7F00071E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49D383B31C224D7F00071E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
