<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI01_UIWindow_UIView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49D332431C1E50F000EBD086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49D3325C1C1E50F000EBD086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49D332671C1E50F000EBD086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
