<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tomcat_two.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49B632081C22CCD600EBFD38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B632211C22CCD600EBFD38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B6322C1C22CCD600EBFD38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
